* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px dotted red; */
}

body {
    margin: 0 auto;
    width: 100%;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200731/pngtree-blue-carbon-background-with-sport-style-and-golden-light-image_371487.jpg');
    color: white;
    transition: 2s;
    
}

h1 {
    margin: 1% auto;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

h2 {
    text-align: center;
}

#header {
    border-top: 2px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

img {
    float: left;
    width: 30%;
    height: 30%;
    margin: 2%;
    border: 5px solid silver;
} 

p {
    text-indent: 50px;
    padding: 20px;
}



#content::after {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1%;
    content: "";
    clear: both;
    display: table;
}

table {
    margin: 20px auto;
    width: 60%;
    text-align: center;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
    padding: 5px;
}

tr:hover {
    background-color: #D6EEEE;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
    background-image: url('https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-3840x2160-8324.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

button {
    margin: 0px 0px 10px 0px;
    padding: 13px;
    display: block;
    width: 100%;
    border: 1px white;
    background-image: linear-gradient(black, white, black);
}

button:hover {
    box-shadow: 0px 0px 25px lightskyblue;
    transition: 1s;
    font-family: 'Orbitron';font-size: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  ul {
    border-top: 2px solid white;
  }

  th {
    background-color: darkgray;
  }

  #bot {
    display: flex;
    background-image: linear-gradient(black, white, black);
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .fa {
    text-decoration: none;
    margin: 1%;
    padding: 1%;
    border-radius: 100%;   
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  width: 40px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  position: absolute;
  z-index: 1;
  background-color: gray;
  color: white;
  text-shadow: #111 2px 2px 2px;
  border-radius: 25px 25px 25px 0px;
  padding: 20px;
  border-color: 2px white;
  top: -60px;
  margin-left: -10px;
  transition: 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}