*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
:root {
    --primary: #2d2d2d;
    --accent: #4f8cff;
    --bg: #f7f9fc;
    --card-bg: #fff;
    --radius: 12px
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg);
    color: var(--primary);
}

header {
    background-color: var(--accent);
    text-align: center;
    padding: 2rem 1rem;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

header p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: #yellow;
    padding: 1rem;
}
nav a {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    transition: color 0.2s;
    padding: 0.2rem 0.5rem;
}

nav a:hover {
    color: var(--bg);
    background-color: var(--accent);
    border-radius: var(--radius);
}

#container {
    max-width: 1100px;
    margin:  0 auto 0.1em;
    padding: 0 1rem;;
}

#about {
    flex: flex-wrap;
    gap: 2rem;
    align-items: center;
    border-radius: var(--radius);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 2rem;
    margin-bottom: 2rem;
}

#my_photo {
    float: left;
}